{% extends "shared/base.html" %} {% block content %}

<!-- !PAGE CONTENT! -->
    <form action="/weather" method = "POST">
      <label for="Stadt">Gib eine Stadt ein:</label><br>
      <input type="text" name="Stadt"><br><br>
      <input type="submit" value="Check!">
    </form>
  
  <!--  Alte Ausgabe für die Stadteingabe 
  {% if city  %}
  <h2>Stadt: {{city}}</h2>
  <h2>Status: {{weather_description}}</h2>
  <h2>Temperatur: {{temperature}} °C</h2>
  {% endif  %} 
    -->

<article class="widget">
  <div class="weatherIcon"><i class="wi wi-day-cloudy"></i></div>
  <div class="weatherInfo">
    <div class="temperature">{{temperature}} °C<span>&deg;</span></div>
    <div class="description">    
      <div class="weatherCondition">{{weather_description}}</div>    
      <div class="place">{{city}}</div>
    </div>
  </div>
  <div class="date">{{today}}</div>
</article>

  
  {% endblock %}