<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<h1> Meister </h1>

<form action="/weather" method = "POST">
    <label for="Stadt">Gib eine Stadt ein:</label><br>
    <input type="text" name="Stadt" value="Berlin"><br><br>
    
    <input type="submit" value="Submit">
  </form>

  {% if city  %}
  <h1>Stadt: {{city}}</h1>
  <h1>Status: {{weather_description}}</h1>
  <h1>Temperatur: {{temperature}}</h1>
  {% endif  %} 
    
</body>
</html>